out/
.vscode
project/target/*
target/

ensime-langserver.log
.ensime
.vertx/*
.ensime_cache/*

*.log
*.pyc
.*jar

fox.cub.utils/research/*
fox.cub.utils/results/*
fox.cub.utils/**/*.csv
fox.cub.utils/**/*.json
config/config.local.json

.metals/
.bloop/
.ammonite/
**/project/metals.sbt
