[MASTER]

ignore=venv

# Use multiple processes to speed up Pylint.
jobs=4

[REPORTS]

# Set the output format. Available formats are text, parseable, colorized, msvs
# (visual studio) and html. You can also give a reporter class, eg
# mypackage.mymodule.MyReporterClass.
output-format=text

